---
- name: Install dependencies
  ansible.builtin.package:
    name: 
      - bash
      - rsync
      - wget
      - moreutils
    state: latest
  become: true

#- name: Download rescript
#  get_url:
#    url: https://gitlab.com/sulfuror/rescript.sh/raw/master/rescript
#    dest: /usr/bin/rescript
#  become: true

- name: Upload rescript
  copy:
    src: rescript.sh
    dest: /usr/bin/rescript
  become: true

- name: Change permissions
  file:
    path: /usr/bin/rescript
    mode: '700'

#
# Install Zabbix-Monitoring Script if Zabbix-Sender is installed
- name: "Check installed packages"
  package_facts:
    manager: "auto"

- name: Debug zabbix-sender
  debug:
    msg: 'Zabbix-Sender is installed' 
  when: packages['zabbix-sender'] is defined

- name: Add Rescript Zabbix Monitoring Scripts
  include_tasks: 'zabbix-monitoring.yml'
  when: packages['zabbix-sender'] is defined

#
# Create config files
- name: Configure repos
  include_tasks: 'config.yml'

#
# Manage Cronjobs
- name: Manage Cronjobs
  include_tasks: 'cronjobs.yml'
