# {{ ansible_managed }}

# =============================================================================== #
#                   R E S C R I P T    C O N F I G U R A T I O N                  #
# =============================================================================== #
# You need to set your restic password (password for the repository), the
# directory for your repository, the backup directory (by default the backup
# directory is your Home directory), your tag (empty by default if used) and
# your "keep" and "excludes" policies.
# ------------------------------------------------------------------------------- #
# REQUIRED VALUES
# ------------------------------------------------------------------------------- #
# Set restic password, repository location/directory and backup directory.
RESTIC_PASSWORD="{{ item.restic_password | trim }}"
RESTIC_REPO="{{ item.restic_repo | trim }}"
BACKUP_DIR="{{ item.rescript_backup_dir | default ('') }}"

# Set the restic compression mode
RESTIC_COMPRESSION="{{ item.restic_compression_mode | default (restic_compression_mode) }}"

# Keep Policies (leave blank if not used)
KEEP_LAST="{{ item.rescript_keep_last | default(rescript_keep_last) }}"
KEEP_HOURLY="{{ item.rescript_keey_hourly | default (rescript_keey_hourly) }}"
KEEP_DAILY="{{ item.rescript_keep_daily | default (rescript_keep_daily) }}"
KEEP_WEEKLY="{{ item.rescript_keep_weekly | default (rescript_keep_weekly) }}"
KEEP_MONTHLY="{{ item.rescript_keep_monthly | default (rescript_keep_monthly) }}"
KEEP_YEARLY="{{ item.rescript_keep_yearly | default (rescript_keep_yearly) }}"
KEEP_WITHIN="{{ item.rescript_keep_within | default (rescript_keep_within) }}"
KEEP_TAG="{{ item.rescript_keep_tag | default (rescript_keep_tag) }}"

# AWS, B2, Azure, Google Cloud Credentials; for other not listed here you can
# the values here (leave blank if not used).
AWS_ID="{{ item.restic_aws_id | default ('') }}"
AWS_KEY="{{ item.restic_aws_key | default ('') }}"
AZURE_NAME="{{ item.restic_azure_name | default ('') }}"
AZURE_KEY="{{ item.restic_azure_key | default ('') }}"
B2_ID="{{ item.restic_b2_id | default ('') }}"
B2_KEY="{{ item.restic_b2_key | default ('') }}"
GOOGLE_ID="{{ item.restic_google_id | default ('') }}"
GOOGLE_CREDENTIALS="{{ item.restic_google_credentials | default ('') }}"

# ------------------------------------------------------------------------------- #
# OPTIONAL VALUES
# ------------------------------------------------------------------------------- #
# ARCHIVE: set to "yes" to execute the "archive" command when using "rescript [repo_name]" only.
# CLEAN: determine when it will execute forget, prune and check (i.e.: 7minutes, 7hours, 7days); by default is set to 7 days.
# CONFIRMATION_EMAIL: set to "yes" to receive email with output when job finished successfully.
# DESTINATION: display name of your destination in output instead of path (i.e.: Wasabi, B2, etc.).
# EMAIL: put your email address to receive emails with output when something fails (when using cron only).
# EXCLUDE_FILE: set "yes" to use the exclude file generated for backups (by default is set to yes; if blank it will read the exclusion file for previous versions comptability).
# EXCLUDE_CACHE: set "yes" to use "--exclude-cache" flag for backups (by default is set to yes; if blank it will exclude cache for previous versions compatibility).
# HOST: use a custom hostname for your snapshots.
# KEEP_ARCHIVE: set to "yes" to keep all snapshots tagged with "archive" (by default is set to yes).
# LOGGING: set to "yes" to save a log with output when using the automatic function (by default is set to yes).
# ONE_FILE_SYSTEM: set to "yes" to use "--one-file-system" flag for backups.
# SKIP_OFFICE: set to yes to temporarily exclude open (in use) "office" documents.
# TAG: tag your snapshots.

ARCHIVE="{{ item.rescript_archive | default (rescript_archive) }}"
CLEAN="{{ item.rescript_clean | default (rescript_clean) }}"
CONFIRMATION_EMAIL="{{ item.rescript_confirmation_email | default (rescript_confirmation_email) }}"
DESTINATION="{{ item.rescript_destination | default (rescript_destination) }}"
EMAIL="{{ item.rescript_email | default(rescript_email) }}"
EXCLUDE_FILE="{{ item.rescript_exclude_file | default (rescript_exclude_file) }}"
EXCLUDE_CACHE="{{ item.rescript_exclude_cache | default (rescript_exclude_cache) }}"
HOST="{{ item.rescript_host | default (rescript_host) }}"
KEEP_ARCHIVE="{{ item.rescript_keep_archive | default (rescript_keep_archive) }}"
LOGGING="{{ item.rescript_logging | default (rescript_logging) }}"
ONE_FILE_SYSTEM="{{ item.rescript_one_file_system | default (rescript_one_file_system) }}"
SKIP_OFFICE="{{ item.rescript_skip_office | default (rescript_skip_office) }}"
TAG="{{ item.rescript_tag | default (rescript_tag) }}"
